<nav class="materialnav">
   <div class=" mdl-nav mdl-layout__header--waterfall is-casting-shadow is-compact">
     <!-- Uses a transparent header that draws on top of the layout's background -->

     <div class="mdl-layout__container"><div class="demo-layout-transparent mdl-layout mdl-js-layout has-drawer is-small-screen is-upgraded" data-upgraded=",MaterialLayout">
       <header class="mdl-layout__header mdl-layout__header--transparent is-casting-shadow">
         <div class="mdl-layout__header-row">
           <!-- Title -->
           <div class="mdl-layout-title">
             <a href="{{@blog.url}}">GF</a>
           </div>
           <!-- Add spacer, to align navigation to the right -->
           <div class="mdl-layout-spacer"></div>
           <!-- Navigation -->
           <nav class="mdl-navigation nav-desktop">
             {{#foreach navigation}}
                 <a class="mdl-navigation__link mdl-typography--text-uppercase nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation" href="{{url absolute="true"}}">{{label}}</a>
             {{/foreach}}
           </nav>
         </div>
       </header>
       <div class="mdl-layout__drawer" id="drawer-menu">
         <span class="mdl-layout-title">
           <a href="{{@blog.url}}">GF</a>
         </span>
         <nav class="mdl-navigation">
           {{#foreach navigation}}
               <a class="mdl-navigation__link mdl-typography--text-uppercase nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation" href="{{url absolute="true"}}">{{label}}</a>
           {{/foreach}}
         </nav>
       </div>
       <div class="mdl-layout__drawer-button"><i class="material-icons">menu</i></div><main class="mdl-layout__content">
       </main>
     <div class="mdl-layout__obfuscator"></div></div></div>
   </div>
 </nav>
